*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'ComfortaaRegular', monospace;
  font-weight: normal;
  font-size: 16px;
}


body {
  background-image: url(bilder/Background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Header and Navigation Bar */

.logo img{
  color: white;
  max-height: 50px
}

nav{
display: flex;
position: fixed;
padding: 10px 20px;
width: 100%;
justify-content: space-between;
align-items: center;
min-height: 5vh;
z-index: 10;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px;
}

.nav-links:hover ul{
  display: block;
}

.nav-links li a:hover{
  color: #2f3669;
  background-color: white;
  border-radius: 2px;
}

.burger{
  display: block;
  cursor: pointer;
}

.burger div{
  width: 23px;
  height: 1px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

/* @media screen and (max-width:800px){ */
  body{
    overflow-x: hidden;
  }

  .main-content {
    padding-top: 50px;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color:  #2f3669;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50vw;
    transform: translateX(100%);
    transition: transform 0.3s;
    padding-top: 65px;
    gap: 20px;
  }

/* } */

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-4px,4.6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-4px,-4.6px);
}

.seleteced_lang{
  cursor: pointer;
}

.lang_select_menu{
  position: relative;
  color: black;
  padding-right: 5px;
}

.lang_select_menu ul{
  position: absolute;
  top: 20px;
  right: 0;
  margin: 0;
  padding: 10px;
  color: #2f3669;
  background-color: white;
  border: 1px solid #2f3669;
  box-shadow: 0px 1px 10px rgba(0 0 0 0.2);
  border-radius: 5px;
  display: none;
  width: 120px;
}

.lang_select_menu:hover ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.lang_select_menu ul li{
  list-style: none;
}

.lang_select_menu ul li a{
  text-decoration: none;
  color: black;
}

.lang_select_menu ul li a:hover{
  color: blue;
}


/*  */
/* Main Page */
/*  */

.banner {
   background-image: url(bilder/2A.JPG);
   background-size: cover;
   padding: 10vw;
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
   background-repeat: no-repeat;
   background-position: top center;
   text-align: left;
   color:  white;
   letter-spacing: 3px;
   font-weight: bold;
   font-size: 1.8em;

}

.dieNummer{
  padding: 10vw;
  padding-bottom: 2vw;
  margin-top: 50px;
}

#hs_bild_1  {
 float: left;
 margin: 0 15px 15px 0;
 border-radius: 10px;
}

.derChat{
  background-image: url(bilder/11A.JPG);
  background-size: cover;
  padding: 10vw;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: left;
  color:     white;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5em;
}

.fussboden{
  padding: 5%;
  letter-spacing: 3px;
  text-align: center;
  background-color: #2f3669;
  width: 100%;
  font-size: 1.5em;
  text-decoration-color: white;
  white-space: nowrap;
}

.fussboden ul{
  margin: auto;
  width: 16em;
}

.fussboden li{
  list-style: none;
}

.fussboden a{
  text-decoration: none;
  color: white;
}

/*  */
/* Footer */
/*  */

.fussboden li:hover{
  background-color: white;
  border-radius: 5px;
}

.fussboden li a:hover{
  color: #2f3669;
}

.footer-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 230px;
}

.footer {
  position: relative;
}

.footer-text-cnt {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-text {
  font-size: 2.5em;
  color: white;
}

.footer-impressum {
  color: white;
}

@media screen and (max-width:450px){
  .footer-text-cnt {
    left: 27%;
  }
  
  .footer-text {
    font-size: 1.5em;
  }

  .footer-placeholder {
    width: 100%;
    height: 30px;
    background-color: #0400b5;
  }
}

/*  */
/*  */
/*  */

.ueber_uns_banner{
  background-image: url(bilder/21.JPG);
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: left;
  color:     white;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5em;
}

.prinzipien{
  background-color: white;
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  letter-spacing: 2px;
  color: #2f3669;
  font-weight: bold;
  font-size: 1.5em;
}

.geschichte{
  background-color: white;
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  letter-spacing: 2px;
  color: #2f3669;
  font-weight: bold;
  font-size: 1.5em;
}

.mithelfen_banner{
  background-image: url(bilder/22A.JPG);
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: left;
  color:     white;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5em;
}

#uu_bild{
  float: right;
  margin: 15px 15px 15px 0;
  border-radius: 10px;
}

.mithelfen_info_1{
  background-color: white;
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  letter-spacing: 2px;
  color: #2f3669;
  font-weight: bold;
  font-size: 1.5em;
}

.danke_an{
  background-image: url(bilder/4A.JPG);
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: left;
  color:     white;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.5em;
}

.impressumbanner{
  background-image: url(bilder/8A.JPG);
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: left;
  color:     white;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5em;
}

.verantwortlich{
  background-color: white;
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  letter-spacing: 2px;
  color: #2f3669;
  font-weight: bold;
  font-size: 1.5em;
}


#imp_copyright{
  float: left;
  margin: 0 15px 0 0;
}

.copyright{
  background-color: white;
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  letter-spacing: 2px;
  color: #2f3669;
  font-weight: bold;
  font-size: 1.5em;
}


#imp_bild_1  {
 float: right;
 margin: 0 15px 15px 0;
 border-radius: 10px;
}


.datenschutzerklaerung_kurz{
  background-image: url(bilder/17A.JPG);
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: left;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.datenschutzerklaerung_lang{
  background-color: white;
  background-size: cover;
  padding: 10vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  letter-spacing: 2px;
  color: #2f3669;
  font-weight: bold;
}

.backgroundStart{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerField{
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contactButton{
  background-color: #FFD600;
  height: 300px;
  width: 300px;
  border-radius: 500px;
  border: 0px;
  cursor: pointer;
}
.contactButton:hover{
  background-color: white;

}
.contactText{
  color: #0B009B
}
.needToTalk{
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}
.talk{
  font-size: 9vw;
}
.students{
  font-size: 3vw;
}
.contactText{
  font-size: large;
  font-weight: bold;
}

.infoBox{
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  height: 300px;
  width: 60vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.startButton{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
